:root {
  --color__white: #ffffff;
  --color__black: #000000;
}

.textarea {
  width: 500px;
  height: 200px;
}

.container {
  margin: 0 auto;
  align-items: center;
  display: grid;
  gap: 20px;
  max-width: 1000px;
}

.item__highlight {
  background-color: yellow;
}
