:root {
  --content-height: calc(100vh - 140px);
  --primary-color: #cf649a;
}

.root {
  width: 100%;
  display: grid;
  align-items: center;
}
.app {
  &__header {
    position: relative;
    text-align: center;
  }
  &__logo {
    width: 75px;
  }
  &__content {
    padding: 10px;
    margin: 0 auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 98%;
    border-radius: 4px;
    height: var(--content-height);
  }
  &__container {
    overflow-y: auto;
    height: var(--content-height);
  }
  &__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    border-radius: 0 0 4px 4px;
    background: #0f9675;
    color: #fff;
    padding: 10px;
    p {
      margin: 0;
      font-weight: 600;
    }
  }
}
